.login-form {
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80%;
}

.login-container {
  position: absolute;
  right: 0;
  margin: 50px;
  max-width: 500px;
  padding: 16px;
  background-color: transparent;
  width: 400px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.login-submit {
  background-color: #7ed957;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login-submit:hover {
  opacity: 1;
}

#select-field {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #7ed957;
  opacity: 0.9;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 3px;
}

#select-field:hover {
  opacity: 1;
}

#select-field img {
  width: 12px;
}

#list {
  width: 100%;
  overflow: hidden;
}

.option {
  width: 100%;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  opacity: 0.9;
  background-color: #7ed957;
  padding: 15px 0 15px 15px;
}

.option:hover {
  opacity: 1;
}

.hide {
  visibility: hidden;
}

.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
}

